.banner{
    background-color: #0948b3;
}
h1,p{
    color:#fff;
}
.card{
    border:none;
}
img{
    max-width: 100%;
}
.support{
    background-color: #0948b3;
}
.serv ,.serv2, .serv3,.serv4{
    border:1px solid #fff;
    background-color: #fff;
    width:250px;
    height:270px;
    border-radius: 5px;
    margin:10px;
}
.service{
    display: flex;
    flex-wrap: wrap;
}
.tools{
    background-color: #fff;
    text-align: center;
}
.tools p{
    color:grey;
}
